<h1>Add your vehicle</h1>
<form id="" action="/add_vehicle" method="post">
  <div class="form-group">
    <label for="car_make">Enter the make of the car</label>
    <input name="car_make" class="form-control" type="text">
  </div>

  <div class="form_group">
    <label for="car_model">Enter the model of the car</label>
    <input type="text" name="car_model" class="form_control">
  </div>

  <div class="form_group">
    <label for="car_year">Enter the year of the car</label>
    <input type="number" name="car_year" class="form_control">
  </div>

  <button type="submit" class="btn" name="Add">Add vehicle</button>
</form>

<a href="/">Return to home</a>
